

body {
  margin: 0;
  padding: 0;
  background: #24262E;
  overflow: hidden;
  
}

.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
}


.nav-header {
  background: #1F1D26;
  width: 100vw;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.react-logo {
  position: relative;
}

.react-facts {
  color: #61DAFB;
  font-weight: 600;
  font-size: 2rem;
  margin: auto 0;
  position: absolute;
}

.ul-li-header {
  display: flex;
}

.ul-li-header > li {
  padding: 5px;
}

ul li::marker {
  color: #70D3F1;
  font-size: 1.5em;
}

.li-items-header {
  list-style-type: none;
}

.li-items-header a {
  text-decoration: none;
  color: #DEEBF7;
  font-weight: 600;
  font-size: 1rem;
}

.li-items-header a:hover {
  text-decoration: underline;
  font-weight: 600;
}

/* Content */

.content {
  position: relative;
}

.react-logo-content {
  fill: #052b35;
  position: absolute;
  right: -50%;
  top: 40%;
}

.react-fact {
  color: white;
  font-family: 900;
}

.react-facts-li > li {
  color: white;
  font-size: 700;
}



/* Footer */

.footer {
  background-color: #202124;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-content {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 50%;
  margin: 1.1rem;
}