body {
  margin: 0;
  padding: 0;
  /* background: #24262e; */
  overflow: hidden;
  color: black;
}

.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-header {
  background: #1f1d26;
  width: 100vw;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.react-logo {
  position: relative;
}

.react-facts {
  color: #61dafb;
  font-weight: 600;
  font-size: 2rem;
  margin: auto 0;
  position: absolute;
}

.ul-li-header {
  display: flex;
}

.ul-li-header > li {
  padding: 5px;
}

ul li::marker {
  color: #70d3f1;
  font-size: 1.5em;
}

.li-items-header {
  list-style-type: none;
}

.li-items-header a {
  text-decoration: none;
  color: #deebf7;
  font-weight: 600;
  font-size: 1rem;
}

.li-items-header a:hover {
  text-decoration: underline;
  font-weight: 600;
}

/* Content */

.content {
  position: relative;
  color: white;
  font-size: 30px;
}

.react-logo-content {
  fill: #052b35;
  position: absolute;
  right: -50%;
  top: 40%;
}

.react-fact {
  /* color: white; */
  font-family: 900;
}

.react-facts-li > li {
  /* color: white; */
  font-size: 700;
}

/* Footer */

.footer {
  background-color: #202124;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
  transition: all 1s;
}

.footer-content {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1.1rem;
}

input[type="checkbox"] {
  display: none;
}

label.toggle_label {
  background: #000000;
  border: 5px solid #9a9a9a;
  width: 50px;
  height: 25px;
  display: block;
  border-radius: 100px;
  margin: 15px;
  border: 0px solid #9a9a9a;
}

span.toggle_span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  background: white;
  border: 1px solid #6b6b6b;
  transition: 0.5s all;
}

/* on label */
input#type2:checked + label.toggle_label.type2 {
  background: rgb(157, 156, 152);
}
/* on span */
input#type2:checked + label.toggle_label.type2 > span.toggle_span.type2 {
  margin-left: 55%;
  background: #24262e;
}
